<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title th:text="#{survey.qim.popup.title}">설문항목 목록(팝업)</title></head>
<body>
<main layout:fragment="content">
    <div class="container">
        <nav aria-label="breadcrumb"><ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{common.home}">홈</a></li>
            <li class="breadcrumb-item active" th:text="#{survey.qim.popup.title}">설문항목 목록(팝업)</li>
        </ol></nav>
        <h1 class="h4 mb-3"><i class="bi bi-list-check"></i> <span th:text="#{survey.qim.popup.heading}">설문항목 목록</span></h1>
        <div class="krds-table-wrap">
        <table class="tbl">
            <thead><tr>
                <th scope="col" style="width:60px;" th:text="#{survey.label.no}">번호</th>
                <th scope="col" style="width:80px;" th:text="#{survey.col.iemSn}">항목순서</th>
                <th scope="col" th:text="#{survey.col.iemCn}">항목내용</th>
                <th scope="col" style="width:100px;" th:text="#{survey.col.etcAnswer}">기타답변</th>
                <th scope="col" style="width:120px;" th:text="#{survey.label.regdate}">등록일</th>
            </tr></thead>
            <tbody>
            <tr th:each="item, st : ${resultList}">
                <td class="text-center" th:text="${st.count}">1</td>
                <td class="text-center" th:text="${item['iemsn']}">1</td>
                <td><a th:href="@{/uss/olp/qim/EgovQustnrItemManageDetail.do(qustnrIemId=${item['qustnriemid']})}" th:text="${item['iemcn']}">항목내용</a></td>
                <td class="text-center" th:text="${item['etcanswerat']}">N</td>
                <td class="text-center" th:text="${item['frstregistpnttm']}">등록일</td>
            </tr>
            <tr th:if="${#lists.isEmpty(resultList)}"><td colspan="5" class="text-center text-muted py-4" th:text="#{survey.empty.qim}">등록된 설문항목이 없습니다.</td></tr>
            </tbody>
        </table>
        </div>
    </div>
</main>
</body>
</html>
