<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title>FAQ 메뉴</title></head>
<body>
<main layout:fragment="content">
    <div class="container" style="max-width:360px;">
        <h2 class="h5 mb-3"><i class="bi bi-info-circle"></i> FAQ</h2>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" th:href="@{/uss/olh/faq/FaqListInqire.do}">
                <i class="bi bi-list-ul"></i> FAQ 목록</a>
            <a class="list-group-item list-group-item-action" th:href="@{/uss/olh/faq/FaqCnRegistView.do}">
                <i class="bi bi-pencil-square"></i> FAQ 등록</a>
        </div>
    </div>
</main>
</body>
</html>
