<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title>우편번호 등록</title></head>
<body>
<main layout:fragment="content">
    <div class="container">
        <nav aria-label="breadcrumb"><ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">홈</a></li>
            <li class="breadcrumb-item"><a th:href="@{/sym/ccm/zip/EgovCcmZipList.do}">우편번호 관리</a></li>
            <li class="breadcrumb-item active">등록</li>
        </ol></nav>
        <h1 class="h4 mb-3"><i class="bi bi-geo-alt"></i> 우편번호 등록</h1>

        <form th:action="@{/sym/ccm/zip/EgovCcmZipRegist.do}" method="post" th:object="${zip}">
            <table class="table table-bordered align-middle">
                <tbody>
                <tr>
                    <th class="table-light" style="width:160px;">우편번호 <span class="text-danger">*</span></th>
                    <td><input class="form-control" type="text" th:field="*{zip}" maxlength="6" required placeholder="예: 12345"/></td>
                </tr>
                <tr>
                    <th class="table-light">시도명 <span class="text-danger">*</span></th>
                    <td><input class="form-control" type="text" th:field="*{ctprvnNm}" maxlength="20" required/></td>
                </tr>
                <tr>
                    <th class="table-light">시군구명 <span class="text-danger">*</span></th>
                    <td><input class="form-control" type="text" th:field="*{signguNm}" maxlength="20" required/></td>
                </tr>
                <tr>
                    <th class="table-light">읍면동명 <span class="text-danger">*</span></th>
                    <td><input class="form-control" type="text" th:field="*{emdNm}" maxlength="30" required/></td>
                </tr>
                <tr>
                    <th class="table-light">리/건물명</th>
                    <td><input class="form-control" type="text" th:field="*{liBuldNm}" maxlength="60"/></td>
                </tr>
                <tr>
                    <th class="table-light">번지/동호</th>
                    <td><input class="form-control" type="text" th:field="*{lnbrDongHo}" maxlength="20"/></td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex gap-2">
                <button class="btn btn-primary" type="submit"><i class="bi bi-check-lg"></i> 등록</button>
                <a class="btn btn-outline-secondary" th:href="@{/sym/ccm/zip/EgovCcmZipList.do}">취소</a>
            </div>
        </form>
    </div>
</main>
</body>
</html>
