<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title th:text="#{sec.author.register}">권한 등록</title></head>
<body>
<main layout:fragment="content">
    <div class="container">
        <nav aria-label="breadcrumb"><ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{common.home}">홈</a></li>
            <li class="breadcrumb-item"><a th:href="@{/sec/ram/EgovAuthorListView.do}" th:text="#{sec.author.title}">권한관리</a></li>
            <li class="breadcrumb-item active" th:text="#{sec.author.register}">권한 등록</li>
        </ol></nav>
        <h1 class="h4 mb-3"><i class="bi bi-shield-plus"></i> <span th:text="#{sec.author.register}">권한 등록</span></h1>

        <form th:action="@{/sec/ram/EgovAuthorInsert.do}" method="post">
            <div class="krds-panel">
                <div class="krds-panel-body">
                    <div class="mb-3">
                        <label class="form-label" for="authorCode"><span th:text="#{sec.author.code}">권한 코드</span> <span class="text-danger">*</span></label>
                        <input type="text" class="krds-input" id="authorCode" name="authorCode" maxlength="50" required
                               th:value="${authorManage != null ? authorManage.authorCode : ''}"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="authorNm"><span th:text="#{sec.author.name}">권한 명</span> <span class="text-danger">*</span></label>
                        <input type="text" class="krds-input" id="authorNm" name="authorNm" maxlength="50" required
                               th:value="${authorManage != null ? authorManage.authorNm : ''}"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="authorDc" th:text="#{sec.author.desc}">설명</label>
                        <input type="text" class="krds-input" id="authorDc" name="authorDc" maxlength="50"
                               th:value="${authorManage != null ? authorManage.authorDc : ''}"/>
                    </div>
                </div>
            </div>
            <div class="text-end mt-3">
                <a class="krds-btn tertiary small" th:href="@{/sec/ram/EgovAuthorListView.do}" th:text="#{button.list}">목록</a>
                <button type="submit" class="krds-btn primary small"><i class="bi bi-check-lg"></i> <span th:text="#{button.save}">저장</span></button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
