<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title th:text="#{survey.qtm.list.title}">설문템플릿 관리</title></head>
<body>
<main layout:fragment="content">
    <div class="container">
        <nav aria-label="breadcrumb"><ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{common.home}">홈</a></li>
            <li class="breadcrumb-item active" th:text="#{survey.qtm.list.title}">설문템플릿 관리</li>
        </ol></nav>
        <h1 class="h4 mb-3"><i class="bi bi-layout-text-window"></i> <span th:text="#{survey.qtm.list.heading}">설문템플릿 관리</span></h1>
        <div class="krds-table-wrap"><table class="tbl">
            <thead><tr>
                <th scope="col" style="width:60px;" th:text="#{survey.label.no}">번호</th>
                <th scope="col" th:text="#{survey.qtm.col.tmplatCn}">템플릿 설명</th>
                <th scope="col" style="width:120px;" th:text="#{survey.qtm.col.tmplatType}">템플릿 유형</th>
                <th scope="col" style="width:120px;" th:text="#{survey.label.register}">등록자</th>
                <th scope="col" style="width:120px;" th:text="#{survey.label.regdate}">등록일</th>
            </tr></thead>
            <tbody>
            <tr th:each="item, st : ${resultList}">
                <td class="text-center" th:text="${st.count}">1</td>
                <td><a th:href="@{/uss/olp/qtm/EgovQustnrTmplatManageDetail.do(qestnrTmplatId=${item['qestnrtmplatid']})}" th:text="${item['qestnrtmplatcn']}">템플릿 설명</a></td>
                <td class="text-center" th:text="${item['qestnrtmplatty']}">유형</td>
                <td class="text-center" th:text="${item['frstregisternm']}">등록자</td>
                <td class="text-center" th:text="${item['frstregistpnttm']}">등록일</td>
            </tr>
            <tr th:if="${#lists.isEmpty(resultList)}"><td colspan="5" class="text-center text-muted py-4" th:text="#{survey.qtm.empty.list}">등록된 설문템플릿이 없습니다.</td></tr>
            </tbody>
        </table></div>
        <div class="text-end"><a class="krds-btn primary small" th:href="@{/uss/olp/qtm/EgovQustnrTmplatManageRegist.do}"><i class="bi bi-plus-lg"></i> <span th:text="#{survey.qtm.btn.registTmplat}">템플릿 등록</span></a></div>
    </div>
</main>
</body>
</html>
