<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title th:text="#{survey.qtm.left.title}">설문관리</title></head>
<body>
<main layout:fragment="content">
    <div class="container" style="max-width:760px;">
        <nav aria-label="breadcrumb"><ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{common.home}">홈</a></li>
            <li class="breadcrumb-item active" th:text="#{survey.qtm.left.title}">설문관리</li>
        </ol></nav>
        <h1 class="h4 mb-3"><i class="bi bi-clipboard-check"></i> <span th:text="#{survey.qtm.left.title}">설문관리</span></h1>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" th:href="@{/uss/olp/qmc/EgovQustnrManageList.do}" th:text="#{survey.qtm.left.qmc}">설문지 관리</a>
            <a class="list-group-item list-group-item-action" th:href="@{/uss/olp/qqm/EgovQustnrQestnManageList.do}" th:text="#{survey.qtm.left.qqm}">설문문항 관리</a>
            <a class="list-group-item list-group-item-action" th:href="@{/uss/olp/qim/EgovQustnrItemManageList.do}" th:text="#{survey.qtm.left.qim}">설문항목 관리</a>
            <a class="list-group-item list-group-item-action" th:href="@{/uss/olp/qtm/EgovQustnrTmplatManageList.do}" th:text="#{survey.qtm.left.qtm}">설문템플릿 관리</a>
            <a class="list-group-item list-group-item-action" th:href="@{/uss/olp/qnn/EgovQustnrRespondInfoManageList.do}" th:text="#{survey.qtm.left.qnn}">설문조사(응답)</a>
            <a class="list-group-item list-group-item-action" th:href="@{/uss/olp/qrm/EgovQustnrRespondManageList.do}" th:text="#{survey.qtm.left.qrm}">응답자 관리</a>
            <a class="list-group-item list-group-item-action" th:href="@{/uss/olp/qri/EgovQustnrRespondInfoList.do}" th:text="#{survey.qtm.left.qri}">응답결과 관리</a>
        </div>
    </div>
</main>
</body>
</html>
