<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title th:text="#{mber.entrprs.update.title}">기업회원 수정</title></head>
<body>
<main layout:fragment="content">
    <div class="container" style="max-width:820px;">
        <nav aria-label="breadcrumb"><ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{common.home}">홈</a></li>
            <li class="breadcrumb-item"><a th:href="@{/uss/umt/mber/EgovMberManage.do}" th:text="#{common.memberManage}">회원관리</a></li>
            <li class="breadcrumb-item active" th:text="#{mber.entrprs.update.title}">기업회원 수정</li>
        </ol></nav>
        <h1 class="h4 mb-3"><i class="bi bi-building"></i> <span th:text="#{mber.entrprs.update.title}">기업회원 수정</span></h1>

        <form th:action="@{/uss/umt/mber/EgovEntrprsMberSelectUpdt.do}" method="post" th:object="${entrprsMberManageVO}">
            <input type="hidden" th:field="*{uniqId}"/>
            <input type="hidden" th:field="*{groupId}"/>

            <!-- 계정 정보 -->
            <fieldset class="krds-form-section">
                <legend class="krds-form-section-title" th:text="#{entrprs.sec.account}">계정 정보</legend>
                <div class="row g-3">
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{mber.col.id}">아이디</label>
                        <input class="krds-input" type="text" th:field="*{entrprsMberId}" maxlength="20" readonly/></div>
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{mber.col.sttus}">회원상태</label>
                        <select class="krds-form-select" th:field="*{entrprsMberSttus}" th:title="#{mber.manage.sttus.select}" title="회원상태 선택">
                            <option value="A" th:text="#{mber.sttus.pending}">신청중</option>
                            <option value="P" th:text="#{mber.sttus.approved}">가입승인</option>
                            <option value="D" th:text="#{mber.sttus.deleted}">가입삭제</option>
                        </select></div>
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{entrprs.password.hint}">비밀번호 힌트</label>
                        <select class="krds-form-select" th:field="*{entrprsMberPasswordHint}">
                            <option value="" th:text="#{mber.selectPlease}">선택하세요</option>
                            <option value="P01" th:text="#{mber.pwdHint.p01}">가장 기억에 남는 장소는?</option>
                            <option value="P02" th:text="#{mber.pwdHint.p02}">나의 좌우명은?</option>
                            <option value="P03" th:text="#{mber.pwdHint.p03}">나의 보물 제1호는?</option>
                            <option value="P04" th:text="#{mber.pwdHint.p04}">가장 기억에 남는 선생님 성함은?</option>
                            <option value="P05" th:text="#{mber.pwdHint.p05}">다른 사람은 모르는 나만의 신체비밀은?</option>
                        </select></div>
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{entrprs.password.cnsr}">비밀번호 정답</label>
                        <input class="krds-input" type="text" th:field="*{entrprsMberPasswordCnsr}" maxlength="100"/></div>
                </div>
            </fieldset>

            <!-- 기업 정보 -->
            <fieldset class="krds-form-section">
                <legend class="krds-form-section-title" th:text="#{entrprs.sec.company}">기업 정보</legend>
                <div class="row g-3">
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{entrprs.cmpnyNm}">회사명</label>
                        <input class="krds-input" type="text" th:field="*{cmpnyNm}" maxlength="60" required/></div>
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{entrprs.cxfc}">대표자명</label>
                        <input class="krds-input" type="text" th:field="*{cxfc}" maxlength="50"/></div>
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{entrprs.bizrno}">사업자등록번호</label>
                        <input class="krds-input" type="text" th:field="*{bizrno}" maxlength="10" inputmode="numeric"/></div>
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{entrprs.jurirno}">법인등록번호</label>
                        <input class="krds-input" type="text" th:field="*{jurirno}" maxlength="13" inputmode="numeric"/></div>
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{entrprs.seCode}">기업구분</label>
                        <select class="krds-form-select" th:field="*{entrprsSeCode}">
                            <option value="" th:text="#{mber.selectPlease}">선택하세요</option>
                            <option value="ENT01" th:text="#{mber.entSe.ent01}">대기업</option>
                            <option value="ENT02" th:text="#{mber.entSe.ent02}">중소기업</option>
                            <option value="ENT03" th:text="#{mber.entSe.ent03}">소상공인</option>
                            <option value="ENT04" th:text="#{mber.entSe.ent04}">공공기관</option>
                            <option value="ENT05" th:text="#{mber.entSe.ent05}">기타</option>
                        </select></div>
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{entrprs.indutyCode}">업종</label>
                        <select class="krds-form-select" th:field="*{indutyCode}">
                            <option value="" th:text="#{mber.selectPlease}">선택하세요</option>
                            <option value="IND01" th:text="#{mber.induty.ind01}">제조업</option>
                            <option value="IND02" th:text="#{mber.induty.ind02}">건설업</option>
                            <option value="IND03" th:text="#{mber.induty.ind03}">도소매업</option>
                            <option value="IND04" th:text="#{mber.induty.ind04}">정보통신업</option>
                            <option value="IND05" th:text="#{mber.induty.ind05}">서비스업</option>
                            <option value="IND06" th:text="#{mber.induty.ind06}">기타</option>
                        </select></div>
                </div>
            </fieldset>

            <!-- 담당자 정보 -->
            <fieldset class="krds-form-section">
                <legend class="krds-form-section-title" th:text="#{entrprs.sec.applcnt}">담당자 정보</legend>
                <div class="row g-3">
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{entrprs.applcntNm}">담당자명</label>
                        <input class="krds-input" type="text" th:field="*{applcntNm}" maxlength="50" required/></div>
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{entrprs.applcntEmail}">담당자 이메일</label>
                        <input class="krds-input" type="email" th:field="*{applcntEmailAdres}" maxlength="50"/></div>
                </div>
            </fieldset>

            <!-- 연락처·주소 -->
            <fieldset class="krds-form-section">
                <legend class="krds-form-section-title" th:text="#{entrprs.sec.contact}">연락처·주소</legend>
                <div class="row g-3">
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{entrprs.telno}">전화번호</label>
                        <input class="krds-input" type="text" th:field="*{telno}" maxlength="20"/></div>
                    <div class="col-md-6 form-group"><label class="form-label" th:text="#{entrprs.fxnum}">팩스번호</label>
                        <input class="krds-input" type="text" th:field="*{fxnum}" maxlength="20"/></div>
                    <div class="col-md-4 form-group"><label class="form-label" th:text="#{entrprs.zip}">우편번호</label>
                        <input class="krds-input" type="text" th:field="*{zip}" maxlength="6"/></div>
                    <div class="col-md-8 form-group"><label class="form-label" th:text="#{entrprs.adres}">주소</label>
                        <input class="krds-input" type="text" th:field="*{adres}" maxlength="100"/></div>
                    <div class="col-12 form-group"><label class="form-label" th:text="#{entrprs.detailAdres}">상세주소</label>
                        <input class="krds-input" type="text" th:field="*{detailAdres}" maxlength="100"/></div>
                </div>
            </fieldset>

            <div class="d-flex justify-content-between mt-4">
                <a class="krds-btn tertiary" th:href="@{/uss/umt/mber/EgovMberManage.do}" th:text="#{button.cancel}">취소</a>
                <button class="krds-btn primary" type="submit"><i class="bi bi-check-lg"></i> <span th:text="#{button.modify}">수정</span></button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
